Repository RK0429/ModernMath: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-metadata, update-translation-status, check-translation-metadata, validate-lean-proofs

validate-metadata:
  name: Validate YAML metadata
  entry: poetry run python scripts/validation/validate_metadata.py
  language: system
  pass_filenames: false
  description: Validate YAML front matter in content files

update-translation-status:
  name: Update translation status
  entry: poetry run python scripts/translation/manage_translations.py update
  language: system
  pass_filenames: false
  description: Update translation status based on file changes

check-translation-metadata:
  name: Check translation metadata
  entry: poetry run python scripts/translation/manage_translations.py validate
  language: system
  pass_filenames: false
  description: Validate translation metadata consistency

validate-lean-proofs:
  name: Validate Lean proofs
  entry: poetry run python scripts/validation/validate_lean_proofs.py
  language: system
  pass_filenames: false
  description: Validate Lean proofs compile correctly

feat: Enhance GitHub Actions and documentation updates
  .github/workflows/auto-translate.yml
  .github/workflows/build.yml
  .github/workflows/llm-review.yml
  .github/workflows/translation-check.yml
  .github/workflows/translation-report.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

feat: Implement conditional job execution in CI/CD workflows
  .github/workflows/build.yml
  CLAUDE.md
Due: none

feat: Enhance CI/CD workflow and Lean proof validation
  .github/workflows/build.yml
  scripts/validation/validate_lean_proofs.py
Due: none

feat: Update Lean proof validation and CI/CD documentation
  CLAUDE.md
Due: none

feat: Update CI/CD workflow timeouts for improved performance
  .github/workflows/build.yml
Due: none

feat: Simplify Lean installation in CI/CD workflow
  .github/workflows/build.yml
Due: none

feat: Specify Lake package directory in Lean installation step
  .github/workflows/build.yml
Due: none

feat: Set working directory for Lean installation verification
  .github/workflows/build.yml
Due: none

feat: Update Lean proof validation script to remove parallelization option
  scripts/validation/validate_lean_proofs.py
Due: none

feat: Add manual execution trigger for CI/CD workflow
  .github/workflows/build.yml
  CLAUDE.md
Due: none

feat: Update Lake manifest and Lean file configuration
  formal/lake-manifest.json
  formal/lakefile.lean
Due: validate-lean-proofs

feat: Refactor Algebra and Vector Spaces definitions in Lean files
  formal/MathKnowledgeGraph/Algebra/Rings.lean
  formal/MathKnowledgeGraph/Algebra/VectorSpaces.lean
Due: validate-lean-proofs

feat: Update proof progress generator for article writing tracking
  scripts/site/generate_proof_progress.py
Due: none

feat: Clarify progress tracking terminology in CLAUDE.md
  CLAUDE.md
Due: none

feat: Enhance Lean proof validation and progress tracking
  .github/workflows/build.yml
  CLAUDE.md
  lean_validation_results.json
  nav/en/proof-progress.qmd
  nav/ja/proof-progress.qmd
  scripts/site/generate_proof_progress.py
  scripts/validation/validate_lean_proofs.py
Due: validate-metadata

feat: Refactor proof progress generator for improved article tracking
  scripts/site/generate_proof_progress.py
Due: none

feat: Refactor cross-reference resolution in `resolve_cross_references.py`
  .github/workflows/build.yml
  scripts/site/resolve_cross_references.py
Due: none

feat: Update CLAUDE.md to enhance development setup instructions
  CLAUDE.md
Due: none

feat: Update navigation and add article writing progress tracking
  _quarto-en.yml
  _quarto-ja.yml
  nav/en/writing-progress.qmd
  nav/ja/writing-progress.qmd
Due: validate-metadata

feat: Enhance article writing progress tracking and visualization
  CLAUDE.md
  _extensions/graph-viz/graph-viz.lua
  _quarto-ja.yml
  docs/lean-integration.md
  nav/en/proof-progress.qmd
  nav/ja/proof-progress.qmd
  scripts/graph/build_graph.py
  scripts/site/generate_proof_progress.py
  scripts/visualization/generate_d3_data.py
  scripts/visualization/generate_mermaid.py
  viz/pyvis_graphs.py
Due: validate-metadata

feat: Update navigation and enhance proof status visualization
  CLAUDE.md
  _quarto-ja.yml
Due: none

feat: Refactor proof status handling in visualizations
  _extensions/graph-viz/graph-viz.lua
  scripts/visualization/generate_d3_data.py
  scripts/visualization/generate_mermaid.py
  viz/pyvis_graphs.py
Due: none

feat: Refine proof status visualization in CLAUDE.md
  CLAUDE.md
Due: none

feat: Enhance proof progress tracking and visualization in `generate_proof_progress.py`
  scripts/site/generate_proof_progress.py
Due: none

feat: Add table sorting and filtering functionality for article progress tables
  CLAUDE.md
  _quarto-en.yml
  _quarto-ja.yml
  js/table-sort-filter.js
  scripts/site/generate_proof_progress.py
  styles.css
Due: none

feat: Remove proof progress tracking pages and update generation script
  nav/en/proof-progress.qmd
  nav/ja/proof-progress.qmd
  scripts/site/generate_proof_progress.py
Due: validate-metadata

feat: Add Stylelint configuration and dependencies for CSS linting
  .stylelintrc.json
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: Refactor CSS styles for improved consistency and responsiveness
  _extensions/math-environments/math-environments.css
  design-tokens.css
  lib/tom-select/tom-select.css
  styles-multilingual.css
  styles.css
Due: none

feat: Update CSS imports for design tokens
  styles-multilingual.css
  styles.css
Due: none

Path conditions:
  validate-metadata: any of: \.qmd$, but not: (?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$

  update-translation-status: any of: content/.*\.qmd$ and not (^translations-status\.yml$) and not ((?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$
)
  check-translation-metadata: any of: content/.*\.qmd$, but not: (?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-lean-proofs: any of: formal/.*\.lean$, but not: (?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$

