Repository RK0429/ModernMath: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-metadata, update-translation-status, check-translation-metadata, validate-lean-proofs

validate-metadata:
  name: Validate YAML metadata
  entry: poetry run python scripts/validation/validate_metadata.py
  language: system
  pass_filenames: false
  description: Validate YAML front matter in content files

update-translation-status:
  name: Update translation status
  entry: poetry run python scripts/translation/manage_translations.py update
  language: system
  pass_filenames: false
  description: Update translation status based on file changes

check-translation-metadata:
  name: Check translation metadata
  entry: poetry run python scripts/translation/manage_translations.py validate
  language: system
  pass_filenames: false
  description: Validate translation metadata consistency

validate-lean-proofs:
  name: Validate Lean proofs
  entry: poetry run python scripts/validation/validate_lean_proofs.py
  language: system
  pass_filenames: false
  description: Validate Lean proofs compile correctly

feat: Update design tokens in CSS for enhanced color definitions
  design-tokens.css
Due: none

feat: Enhance color definitions in CSS for improved design consistency
  design-tokens.css
  styles.css
Due: none

feat: Update documentation and proof statuses for clarity and consistency
  CLAUDE.md
  content/en/algebra/def-group-action.qmd
  content/en/algebra/ex-group-action-examples.qmd
  content/en/algebra/thm-orbit-stabilizer.qmd
  content/en/algebra/thm-sylow.qmd
  content/ja/algebra/def-group-action.qmd
  content/ja/algebra/ex-group-action-examples.qmd
  content/ja/algebra/thm-orbit-stabilizer.qmd
  content/ja/algebra/thm-sylow.qmd
Due: validate-metadata, update-translation-status, check-translation-metadata

feat: Update interactive visualization content for clarity and accessibility
  scripts/visualization/fix_visualization_placement.py
Due: none

feat: Implement band graph visualization for article and proof progress tracking
  CLAUDE.md
  nav/en/writing-progress.qmd
  nav/ja/writing-progress.qmd
  scripts/site/generate_proof_progress.py
  styles.css
Due: validate-metadata

feat: Enhance formal proof progress tracking and visualization
  CLAUDE.md
  nav/en/writing-progress.qmd
  nav/ja/writing-progress.qmd
  scripts/site/generate_proof_progress.py
Due: validate-metadata

feat: Refactor search functionality and remove enhanced search implementation
  .github/workflows/build.yml
  CLAUDE.md
  api/README.md
  api/app.py
  api/app_secure.py
  api/monitoring.py
  api/search.py
  docs/development-environment-setup.qmd
  docs/enhanced-search.md
  scripts/README.md
  scripts/site/build_search_index.py
Due: validate-metadata

feat: Remove query section from Japanese and English index files
  index-ja.qmd
  index.qmd
Due: validate-metadata

feat: Remove obsolete files related to the Mathematics Knowledge Graph project
  about.tex
  formal_graph.ttl
  formal_verification_report.md
  scripts/knowledge_graph.ttl
  scripts/visualization/fix_pyvis_css.py
  scripts/visualization/generate_pyvis.py
  test_d3_visualization.html
Due: none

Path conditions:
  validate-metadata: any of: \.qmd$, but not: (?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$

  update-translation-status: any of: content/.*\.qmd$ and not (^translations-status\.yml$) and not ((?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$
)
  check-translation-metadata: any of: content/.*\.qmd$, but not: (?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-lean-proofs: any of: formal/.*\.lean$, but not: (?x)^(
  _site/.*|
  output/.*|
  knowledge_graph\.ttl|
  .*\.min\.js|
  .*\.min\.css
)$

